<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="-webkit-text-size-adjust: none; margin: 0; padding: 20;">
<table style="border-spacing: 0; border-collapse: collapse; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; width: 100% !important; height: 100% !important; color: #4c4c4c; font-size: 15px; line-height: 150%; background: #ffffff; margin: 0; padding: 0; border: 0;">
    <tr style="padding: 0;">
        <td valign="top" style="vertical-align: top; padding: 0;">
            <p style="margin: 20px 0">Liebe/Lieber {{firstName}} {{lastName}},</p>
            <p style="margin: 20px 0">Danke für Deine Registrierung bei der Krankenhaus Belegungsmanagement App.</p>
            <p style="margin: 20px 0;">Damit Du schnell dabei bist, bestätige bitte deine Emailadresse.</p>
            <p style="margin: 20px 0;"><a id="link" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #ffffff; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #0A367D; margin: 0; border-color: #0A367D; border-style: solid; border-width: 10px 20px;" href="{{link}}">Adresse bestätigen</a></p>
            <p style="margin: 20px 0;">Vielen Dank</p>
        </td>
    </tr>
</table>
</body>
</html>