<section class="no-breadcrumbs ng-scope full-height" ng-controller="UserListCtrl">
    <article class="article">
        <md-card class="no-margin">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Nutzerübersicht</span>
                    <div flex></div>
                </div>
            </md-toolbar>

<style>
.media-list+.media-list
{
    border-top:1px solid #eee;
}
</style>

            <div ng-if="(users).length > 0">
                <div class="box-header" style="background-color:#efefef">Alle registrierte Nutzer</div>
                <div class="box-body" style="padding-top:0px; padding-bottom:0px">
                    <div class="media-list" ng-repeat="user in users">
                        <div class="media">
                            <div class="media-body media-middle" style="padding-bottom:6px">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="ps-prop-label">Nutzername</div>
                                        {{user.username}}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ps-prop-label">Mitglied seit</div>
                                        {{user.createdAt | date:'dd.MM. HH:mm:ss'}}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ps-prop-label">Rolle</div>
                                        <div ng-if="currentUserId === user.id">
                                            {{user.role.getName()}}
                                        </div>
                                        <md-select ng-if="currentUserId !== user.id" ng-model="user.role.id" aria-label="select" class="md-no-underline" ng-change="updateRole(user)">
                                            <md-option ng-repeat="role in roles" value="{{role.id}}"> {{role.getName()}} </md-option>
                                        </md-select>
                                    </div>
                                    <div ng-if="user.role && user.role.getName() != 'User'" class="col-md-3">
                                        <div class="ps-prop-label">Krankenhaus</div>
                                        <md-select ng-model="user.hospital.id" aria-label="select" class="md-no-underline" ng-change="updateHospital(user)">
                                            <md-option ng-repeat="hospital in hospitals" value="{{hospital.id}}"> {{hospital.name}} </md-option>
                                        </md-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        <div ng-if="(users).length == 0" class="box-center">
            <span style="color:#bbb; font-size:20px;">Keine Nutzer vorhanden.</span>
        </div>

    </article>


</section>
