<section class="app-footer">
    <div class="container-fluid">
        <span class="pull-left">
            <span>Copyright © <a class="brand" target="_blank" ng-href="{{app.link}}">{{::app.brand}}</a> {{::app.year}}</span>
        </span>
        <span class="pull-right">
            <span>powered by</span><a href="https://www.ecorium.eu/" target="_blank"><img src="assets/images-app/ecorium_logo.png" width="8%" style="margin-left:10px;"></a>
        </span>
    </div>
</section>
