<div class="app-header" ng-controller="HeaderCtrl">
    <div class="app-header-inner" data-ng-class="{'bg-light': ['11','12','13','14','15','16','21'].indexOf(app.colorOption) >= 0,
                         'bg-dark': app.colorOption === '31',
                         'bg-primary': ['22','32'].indexOf(app.colorOption) >= 0,
                         'bg-success': ['23','33'].indexOf(app.colorOption) >= 0,
                         'bg-info': ['24','34'].indexOf(app.colorOption) >= 0,
                         'bg-warning': ['25','35'].indexOf(app.colorOption) >= 0,
                         'bg-danger': ['26','36'].indexOf(app.colorOption) >= 0}">

        <div class="hidden-lg hidden-md pull-left">
            <a href="" toggle-sidebar class="header-icon toggle-sidebar-btn">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <div class="brand hidden-xs hidden-sm" style="text-align: left !important;">
            <img class="logo-icon" style="margin-right: 13px" border="0" alt="" src="assets/images-app/new-icon.png">
            <h2 id="headline">{{hospital}}</h2>
        </div>
        <div class="top-nav-right">
            <ul class="list-unstyled pull-right">
                <li>
                    <md-menu md-position-mode="target-right target">
                        <md-button class="header-btn " aria-label="menu " ng-click="$mdOpenMenu($event) ">
                            <i class="material-icons ">face</i>
                        </md-button>
                        <md-menu-content width="3 ">
                            <!--<md-menu-item><md-button aria-label="menu " ng-href="#/app/app/task "><md-icon class="material-icons
                            ">assignment</md-icon><span data-translate="TASK "></span></md-button></md-menu-item>-->
                            <!--<md-menu-item><md-button aria-label="menu " ng-href="#/lock-screen "><md-icon class="material-icons
                            ">lock_outline</md-icon><span data-translate="LOCK "></span></md-button></md-menu-item>-->
                            <md-menu-item><span>{{getUsername()}}</span></md-menu-item>
                            <md-menu-item><md-button aria-label="menu " ng-click="logoutUser() "><md-icon class="material-icons
                            ">keyboard_tab</md-icon><span data-translate="LOG_OUT "></span></md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>
                <!--<li><a href=" " class="header-btn " md-button ng-click="toggleRight() " ng-hide="isOpenRight()
                            "><i class="material-icons ">more_vert</i></a></li>-->
            </ul>
        </div>
    </div>
</div>
