<ul class="nav" data-accordion-nav data-slim-scroll data-highlight-active data-append-sub-menu-icon ng-init="initialize()"
    ng-controller="SidebarCtrl">

    <script type="text/ng-template" id="toast-template.html">
        <md-toast class="md-toast-danger">
            <span flex>Neuer Notfall!</span>
            <md-button ng-click="closeToast('show')">
                Details anzeigen
            </md-button>
            <md-button ng-click="closeToast('close')">
                ausblenden
            </md-button>
        </md-toast>
    </script>
    <li ng-if="AuthService.hasPrivilege('route.map')"><a md-button aria-label="menu" href="#/app/map"><i class="nav-icon material-icons">map</i><span class="nav-text" data-translate="MAP"></span></a></li>
    <li ng-if="AuthService.hasPrivilege('route.contingents')"><a md-button aria-label="menu" href="#/app/contingents"><i class="nav-icon material-icons">traffic</i><span class="nav-text" data-translate="BED_CONTINGENTS"></span></a></li>
    <li ng-if="AuthService.hasPrivilege('route.hospitalList')"><a md-button aria-label="menu" href="#/app/hospital-list"><i class="nav-icon material-icons">domain</i><span class="nav-text" data-translate="HOSPITALS"></span></a></li>
    <li ng-if="AuthService.hasPrivilege('route.userList')"><a md-button aria-label="menu" href="#/app/user-list"><i class="nav-icon material-icons">people</i><span class="nav-text" data-translate="USERS"></span></a></li>
    <li ng-if="AuthService.hasPrivilege('route.logfile')"><a md-button aria-label="menu" href="#/app/logfile"><i class="nav-icon material-icons">description</i><span class="nav-text" data-translate="LOGFILE"></span></a></li>
</ul>