<section class="no-breadcrumbs ng-scope full-height" ng-controller="HospitalCtrl">
    <article class="article">
        <md-card class="no-margin">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Krankenhaus-Detailansicht</span>
                    <div flex></div>
                </div>
            </md-toolbar>
            <div class="box-header" style="background-color:#efefef">
                <a style="font-weight:normal;" href="#/app/hospital-list">« zurück zur <span style="font-weight:500;">Übersicht</span></a><br>
                {{hospital.name}}
            </div>
            <div class="box-body" style="padding-top:20px;">
                <form name="editHospital" ng-cloak>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Bezeichnung</label>
                        <input name="name" required ng-model="hospital.name" ng-change="updateName()">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm style="margin-top:35px;">
                        <label>Adresse</label>
                        <input name="address" required ng-model="hospital.address" ng-model-options="{debounce: 1000}" ng-change="findAddress()" />
                    </md-input-container>
                    <label class="main-label">Einstufungsschwellenwerte</label>
                    <div class="row" ng-repeat="ward in hospital.wards" style="margin-bottom:10px;">
                        <div class="main-title" data-translate="{{ward.wardType}}"></div>
                        <div class="col-md-4" ng-repeat="occupancy in ward.occupancies">
                            <div class="title" data-translate="BED_TYPE_{{occupancy.bedType}}"></div>
                            <div class="ward-wrapper">
                                <div class="traffic-light-wrapper">
                                    <div class="traffic-light">
                                        <div class="wrapper">
                                            <div class="circle red"></div>
                                        </div>
                                        <div class="wrapper">
                                            <div class="circle yellow"></div>
                                        </div>
                                        <div class="wrapper">
                                            <div class="circle green"></div>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="traffic-light-settings">
                                    <div class="settings">
                                        <span>{{occupancy.red.min}}</span> bis
                                        <md-button ng-click="occupancy.red.max = occupancy.red.max - 1; updateThreshold(occupancy, 'RED')">
                                            <i class="material-icons ">navigate_before</i>
                                        </md-button>
                                        <input ng-model="occupancy.red.max" ng-blur="updateThreshold(occupancy, 'RED')">
                                        <md-button ng-click="occupancy.red.max = occupancy.red.max + 1; updateThreshold(occupancy, 'RED')">
                                            <i class="material-icons ">navigate_next</i>
                                        </md-button>
                                    </div>
                                    <div class="settings">
                                        <span>{{occupancy.yellow.min}}</span> bis
                                        <md-button ng-click="occupancy.yellow.max = occupancy.yellow.max - 1; updateThreshold(occupancy, 'YELLOW')">
                                            <i class="material-icons ">navigate_before</i>
                                        </md-button>
                                        <input ng-model="occupancy.yellow.max" ng-blur="updateThreshold(occupancy, 'YELLOW')">
                                        <md-button ng-click="occupancy.yellow.max = occupancy.yellow.max + 1; updateThreshold(occupancy, 'YELLOW')">
                                            <i class="material-icons ">navigate_next</i>
                                        </md-button>
                                    </div>
                                    <div class="settings">
                                        <span>{{occupancy.green.min}}</span> bis
                                        <md-button ng-click="occupancy.green.max = occupancy.green.max - 1; updateThreshold(occupancy, 'GREEN')">
                                            <i class="material-icons ">navigate_before</i>
                                        </md-button>
                                        <input ng-model="occupancy.green.max" ng-blur="updateThreshold(occupancy, 'GREEN')">
                                        <md-button ng-click="occupancy.green.max = occupancy.green.max + 1; updateThreshold(occupancy, 'GREEN')">
                                            <i class="material-icons ">navigate_next</i>
                                        </md-button>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border-top:1px solid #d7d7d7; margin-bottom:20px;"></div>
                    <label class="main-label">Bettenkontingente</label>
                    <div class="row" ng-repeat="ward in hospital.wards" style="margin-bottom:10px;">
                        <div class="main-title" data-translate="{{ward.wardType}}"></div>
                        <div class="col-md-4" ng-repeat="occupancy in ward.occupancies">
                            <div class="title" data-translate="BED_TYPE_{{occupancy.bedType}}"></div>
                            <div class="ward-wrapper">
                                <div class="traffic-light-wrapper small">
                                    <div class="traffic-light">
                                        <div class="wrapper">
                                            <div ng-attr-class="{{(occupancy.occupancy <= occupancy.red.max) && 'circle red' || 'circle' }}"></div>
                                        </div>
                                        <div class="wrapper">
                                            <div ng-attr-class="{{(occupancy.occupancy >= occupancy.yellow.min && occupancy.occupancy <= occupancy.yellow.max) && 'circle yellow' || 'circle' }}"></div>
                                        </div>
                                        <div class="wrapper">
                                            <div ng-attr-class="{{(occupancy.occupancy >= occupancy.green.min) && 'circle green' || 'circle' }}"></div>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="traffic-light-settings">
                                    <div class="settings">
                                        <md-button ng-click="occupancy.occupancy = occupancy.occupancy - 1; updateOccupancy(occupancy);">
                                            <i class="material-icons ">navigate_before</i>
                                        </md-button>
                                        <input ng-model="occupancy.occupancy">
                                        <md-button ng-click="occupancy.occupancy = occupancy.occupancy + 1; updateOccupancy(occupancy);">
                                            <i class="material-icons ">navigate_next</i>
                                        </md-button>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </article>
</section>