@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

#page-container{
    &.no-menu{
        .app-header{
            .header-icon{
                display: none !important;
            }
        }

        .app-content{
            padding-left: 0px !important;
        }

        .app-footer{
            left: 0px !important;
        }
    }
}

#dev-mode-indicator{
    display: none;
}

.app-header{
    .brand{
        width: auto !important;
        display: block !important;
        width: 300px;
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));

        .logo-icon{
            max-width: 32px;
            margin-top: 12px;
            position: absolute;
            display: none;

            @media screen and (min-width: 500px){
                display: block;
            }
        }

        h2{
            font-size: 16px;
            width: 100%;
            text-align: center;

            @media screen and (min-width: 500px){
                padding-left: 40px;
                font-size: 18px;
            }

            white-space: nowrap;
        }
    }
}

.app-content{
    padding-bottom: 44px !important;

    @media screen and (min-width: 500px){
        padding-bottom: 46px !important;
    }
}

.app-footer{
    padding: 5px 0 !important;

    @media screen and (min-width: 500px){
        padding: 13px 0 !important;
    }

    .container-fluid{
        text-align: center;

        .pull-right, .pull-left{
            width: 100%;
            text-align: center;

            @media screen and (min-width: 500px){
                width: auto;
            }
        }

        .pull-right{
            @media screen and (min-width: 500px){
                text-align: right;
            }

            img{
                width: 40px;

                @media screen and (min-width: 500px){
                    width: 55px;
                }
            }
        }
    }
}

.ps-prop-label
{
    color:#aaa;
    font-size:12px;
    padding-top:10px;
    font-weight:400 !important;
}

.tabwarning span
{
    color: red;
}

.md-datepicker-calendar-pane, .md-select-menu-container {
    z-index: 1200;
}

 .md-errors-spacer:empty { 
     display: none; 
}

section[ng-controller="UserListCtrl"] {

    md-select{
        margin: 0px;

        md-select-value{
            padding: 0px;
            border-bottom: 0px !important;
            min-height: auto !important;
        }
    }
}

section[ng-controller="HospitalListCtrl"]{
    .media-list{
        .row{
            position: relative !important;

            button{
                position: absolute;
                top: 0px;
                min-width: 40px;

                &.delete{
                    right: 7px;
                }

                &.edit{
                    right: 47px;
                }
            }
        }
    }
}

md-dialog{

    width: 90% !important;
    max-width: 600px !important;
    
    .md-toolbar-tools{
        height: auto !important;
        max-height: none !important;

        h2{
            line-height: 30px;
            padding: 18px 0px;
        }
    }

    md-input-container{
        margin: 40px 0px;

        &:first-child{
            margin-top: 20px;
        }

        &:last-child{
            margin-bottom: 10px;
        }
    }
}

section[ng-controller="ContingentsCtrl"]{
    md-select{
        margin: 0px;
    }
}

section[ng-controller="HospitalCtrl"], section[ng-controller="ContingentsCtrl"]{
    label.main-label{
        color: rgba(0,0,0,0.54);
        margin-bottom: 10px;
    }

    .main-title{
        padding-left: 15px;
        font-weight: bold;
    }

    .col-md-4{
        margin-bottom: 10px;

        .ward-wrapper{
            position: relative;

            .traffic-light-wrapper{
                position: absolute;
                left: 0px;
                height: 100%;
                width: 40px;
                background: black;

                .traffic-light{
                    height: 100%;
                    width: 100%;

                    .wrapper{
                        height: calc(100% / 3);
                        position: relative;

                        .circle{
                            border-radius: 20px;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: -15px 0px 0px -15px;
                            background-color: #414040;
                            @include transition(background-color 400ms);

                            &.red{
                                background-color: #d51c1c;
                            }

                            &.yellow{
                                background-color: #ffbd00;
                            }

                            &.green{
                                background-color: #187d18;
                            }
                        }
                    }
                }

                &.small{
                    width: 20px;

                    .traffic-light{
                        .wrapper{
                            .circle{
                                width: 10px;
                                height: 10px;
                                margin: -5px 0px 0px -5px;
                            }
                        }
                    }
                }
            }

            .traffic-light-settings{
                padding-left: 40px;

                .settings{
                    text-align: left;

                    input{
                        display: inline-block;
                        width: 40px;
                        text-align: center;
                    }

                    .md-button{
                        min-width: 36px;
                        width: 36px;
                        margin: 5px 0px;
                        line-height: 14px;
                        background: #ececec;
                    }

                    span{
                        width: 50px;
                        display: inline-block;
                        text-align: right;
                    }
                }
            }
        }
    }
}

md-dialog{
    form[name="hospital-detail"]{
        label.main-label{
            color: rgba(0,0,0,0.54);
            margin-bottom: 10px;
        }

        .main-title{
            padding-left: 15px;
            font-weight: bold;
        }

        .col-md-4{
            margin-bottom: 10px;

            .ward-wrapper{
                position: relative;

                .traffic-light-wrapper{
                    position: absolute;
                    left: 0px;
                    height: 100%;
                    width: 40px;
                    background: black;

                    .traffic-light{
                        height: 100%;
                        width: 100%;

                        .wrapper{
                            height: calc(100% / 3);
                            position: relative;

                            .circle{
                                border-radius: 20px;
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin: -15px 0px 0px -15px;
                                background-color: #414040;
                                @include transition(background-color 400ms);

                                &.red{
                                    background-color: #d51c1c;
                                }

                                &.yellow{
                                    background-color: #ffbd00;
                                }

                                &.green{
                                    background-color: #187d18;
                                }
                            }
                        }
                    }

                    &.small{
                        width: 20px;

                        .traffic-light{
                            .wrapper{
                                .circle{
                                    width: 10px;
                                    height: 10px;
                                    margin: -5px 0px 0px -5px;
                                }
                            }
                        }
                    }
                }

                .traffic-light-settings{
                    padding-left: 40px;

                    .settings{
                        height: 47px;
                        position: relative;

                        .occupancy{
                            position: absolute;
                            top: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

div[ng-controller="MapCtrl"]{

    .hospital-list{
        max-width: 330px;
        display: none;

        @media screen and (min-width: 750px){
            display: block;
        }
    }

    .marker{
        -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);

        width: 100px;
        position: relative;

        &:after{
            content: ' ';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #000 transparent transparent;
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin-left: -5px;
        }

        h2{
            font-size: 10px;
            margin: 0px;
            padding: 5px;
            line-height: 12px;
            text-align: center;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .row.ward{
            margin: 0px 0px 5px 0px;
            width: 100%;

            .col-md-3{
                padding: 0px;
                width: 25%;
                float: left;

                &.header{
                    text-align: center;
                    font-size: 8px;
                }

                &.ward-type{
                    text-align: right;
                    padding-right: 3px;
                    font-size: 8px;
                    padding-top: 1px;
                }
            }

            .bedtype-wrapper{
                height: 12px;

                .circle{
                    border-radius: 20px;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -5px 0px 0px -5px;
                    background-color: #414040;
                    @include transition(background-color 400ms);

                    &.red{
                        background-color: #d51c1c;
                    }

                    &.yellow{
                        background-color: #ffbd00;
                    }

                    &.green{
                        background-color: #187d18;
                    }
                }
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
}