.map-fullsize-container
{
    position:relative;
    height: calc(100vh - 104px); // header 60px + footer 44px
}

map.map-fullsize 
{
    display:block;  top:0px; right:0px; bottom:0px; left:0px; position:absolute;
}