#splitscreen {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

    .splitscreen-container-left.flex1,
    .splitscreen-container-right.flex1 {
        flex: 1;
    }
    
    .splitscreen-container-left.flex2,
    .splitscreen-container-right.flex2 {
        flex: 2;
    }

    .splitscreen-container-left.flex3,
    .splitscreen-container-right.flex3 {
        flex: 3;
    }

    .splitscreen-container-left,
    .splitscreen-container-right {
        overflow-x: hidden;
        overflow-y:auto;
    }
}


// list
#splitscreen {
    .splitscreen-container-left {
        border-right: 1px solid rgba(#000, .15);
    }
}





