<section class="no-breadcrumbs ng-scope full-height" ng-controller="LogfileListCtrl">
    <article class="article">
        <md-card class="no-margin">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Logfile</span>
                    <div flex></div>
                </div>
            </md-toolbar>

<style>
.media-list+.media-list
{
    border-top:1px solid #eee;
}
</style>
            <div ng-if="(logfile).length > 0">
                <div class="box-header" style="background-color:#efefef">Changelog</div>
                <div class="box-body" style="padding-top:0px; padding-bottom:0px">
                    <div class="media-list" ng-repeat="log in logfile">
                        <div class="media">
                            <div class="media-body media-middle" style="padding-bottom:6px">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="ps-prop-label">Datum</div>
                                        {{log.createdAt | date:'dd.MM.yyyy HH:mm:ss'}}
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ps-prop-label">User</div>
                                        {{log.user.get('username')}}
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ps-prop-label">Krankenhaus</div>
                                        {{log.occupancy.get('hospital').get('name')}}                                        
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ps-prop-label">Station</div>
                                        <div data-translate={{log.occupancy.get('wardType')}}></div>                                       
                                    </div>                  
                                    <div class="col-md-2">
                                        <div class="ps-prop-label">Betttyp</div>
                                        <div data-translate=BED_TYPE_{{log.occupancy.get('bedType')}}></div>                             
                                    </div>        
                                    <div class="col-md-2">
                                        <div class="ps-prop-label">Belegung</div>
                                        {{log.occupancy.get('occupancy')}}                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        <div ng-if="(logfile).length == 0" class="box-center">
            <span style="color:#bbb; font-size:20px;">Keine Logs vorhanden.</span>
        </div>

    </article>


</section>