<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>Bettenmanager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <link rel="icon"
              type="image/png"
              href="./favicon.png">

        <!-- google fonts
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Roboto:100,300,400,400italic,500,700:latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = 'bower_components/webfontloader/webfontloader.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>
 -->
        <link rel="stylesheet" href="styles/loader.css" rel="stylesheet" >
        <link rel="stylesheet" href="vendors/material-design-icons/iconfont/material-icons.css" rel="stylesheet" >

        <!-- build:css({.tmp,client}) styles/main.css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.min.css">
        <link rel="stylesheet" href="styles/bootstrap.css" rel="stylesheet" >
        <link href="styles/layout.css" type="text/css" rel="stylesheet" >
        <link href="styles/theme.css" type="text/css" rel="stylesheet" >
        <link href="styles/ui.css" type="text/css" rel="stylesheet" >
        <link href="styles/app.css" type="text/css" rel="stylesheet" >
        <!-- endbuild -->
    </head>

    <body id="body"
          ng-class="{
            'fixed-header'  : app.fixedHeader,
            'nav-collapsed' : app.navCollapsed,
            'nav-behind'    : app.navBehind,
            'layout-boxed'  : app.layoutBoxed,
            'theme-gray'    : app.theme == 'gray',
            'theme-dark'    : app.theme == 'dark',
            'sidebar-sm'    : app.sidebarWidth == 'small',
            'sidebar-lg'    : app.sidebarWidth == 'large'
    }">

        <div id="loader-container">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
               <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>

        <div ui-preloader></div>
        <div class="full-height {{app.pageTransition.class}}" ui-view></div>


        <!-- fontaewesome script -->
        <script src="https://use.fontawesome.com/317185dfe7.js"></script>
        <!-- endbuild -->
        <!-- Parse.com min script -->
        <script src="https://npmcdn.com/parse@1.11.1/dist/parse.min.js" type="text/javascript"></script>
        <!-- endbuild -->

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/babel-polyfill/browser-polyfill.js" type="text/javascript"></script>
        <script src="bower_components/angular/angular.js" type="text/javascript"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-order-object-by/src/ng-order-object-by.js"></script>
        <script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
        <script src="bower_components/moment/moment.js" type="text/javascript"></script>
        <script src="bower_components/angular-moment/angular-moment.min.js" type="text/javascript"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js" type="text/javascript"></script>
        <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
        <!-- endbuild -->

        <!-- build:js scripts/ui.js -->
        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

        <script src="bower_components/angular-material/angular-material.min.js"></script>

        <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>

        <script src="bower_components/echarts/dist/echarts.min.js"></script>
        <script src="bower_components/echarts/theme/macarons.js"></script>
        <script src="bower_components/ngECharts/dist/ngecharts.js"></script>

        <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
        <script src="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.min.js"></script>

        <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
        <!-- endbuild -->


        <!-- build:js scripts/app.js -->
        <!-- inject:js -->
        <script src="app/app.module.js"></script>
        <script src="app/layout/layout.module.js"></script>
        <script src="app/component/authentication/authentication.module.js"></script>
        <script src="app/component/contingents/contingents.module.js"></script>
        <script src="app/component/emergency/emergency.module.js"></script>
        <script src="app/component/hospital/hospital.module.js"></script>
        <script src="app/component/logfile/logfile.module.js"></script>
        <script src="app/component/map/map.module.js"></script>
        <script src="app/component/user/user.module.js"></script>
        <script src="app/demo-component/chart/chart.module.js"></script>
        <script src="app/demo-component/email/email.module.js"></script>
        <script src="app/demo-component/form/form.module.js"></script>
        <script src="app/demo-component/form/formValidation.module.js"></script>
        <script src="app/demo-component/page/page.module.js"></script>
        <script src="app/demo-component/table/table.module.js"></script>
        <script src="app/demo-component/ui/ui.module.js"></script>
        <script src="app/demo-component/app/calendar/calendar.module.js"></script>
        <script src="app/demo-component/app/task/task.module.js"></script>
        <script src="app/core/app.config.js"></script>
        <script src="app/core/app.controller.js"></script>
        <script src="app/core/config.lazyload.js"></script>
        <script src="app/core/config.route.js"></script>
        <script src="app/core/i18n.js"></script>
        <script src="app/model/comment.factory.js"></script>
        <script src="app/model/controlCenter.factory.js"></script>
        <script src="app/model/hospital.factory.js"></script>
        <script src="app/model/logfile.factory.js"></script>
        <script src="app/model/occupancy.factory.js"></script>
        <script src="app/service/authentification.service.js"></script>
        <script src="app/service/parsehelper.service.js"></script>
        <script src="app/layout/ccswitch.controller.js"></script>
        <script src="app/layout/customizer.controller.js"></script>
        <script src="app/layout/header.controller.js"></script>
        <script src="app/layout/layout.directive.js"></script>
        <script src="app/layout/loader.js"></script>
        <script src="app/layout/sidebar.controller.js"></script>
        <script src="app/layout/sidenav.controller.js"></script>
        <script src="app/component/authentication/authentication.controller.js"></script>
        <script src="app/component/contingents/contingents.controller.js"></script>
        <script src="app/component/emergency/emergency-state.factory.js"></script>
        <script src="app/component/emergency/emergency.factory.js"></script>
        <script src="app/component/emergency/location-tracking.js"></script>
        <script src="app/component/emergency/protocol.factory.js"></script>
        <script src="app/component/map/map.controller.js"></script>
        <script src="app/component/user/user.factory.js"></script>
        <script src="app/demo-component/chart/echarts.controller.js"></script>
        <script src="app/demo-component/dashboard/dashboard.controller.js"></script>
        <script src="app/demo-component/email/email.controller.js"></script>
        <script src="app/demo-component/email/email.service.js"></script>
        <script src="app/demo-component/form/form.controller.js"></script>
        <script src="app/demo-component/form/formValidation.controller.js"></script>
        <script src="app/demo-component/form/wizard.controller.js"></script>
        <script src="app/demo-component/page/page.controller.js"></script>
        <script src="app/demo-component/page/page.directive.js"></script>
        <script src="app/demo-component/table/table.controller.js"></script>
        <script src="app/demo-component/ui/material.controller.js"></script>
        <script src="app/demo-component/ui/ui.controller.js"></script>
        <script src="app/demo-component/ui/ui.directive.js"></script>
        <script src="app/component/emergency/_list/emergency-list.controller.js"></script>
        <script src="app/component/emergency/_list-map/emergency.controller.js"></script>
        <script src="app/component/hospital/_list/hospital-list.controller.js"></script>
        <script src="app/component/hospital/_single/hospital.controller.js"></script>
        <script src="app/component/logfile/_list/logfile-list-controller.js"></script>
        <script src="app/component/user/_list/user-list.controller.js"></script>
        <script src="app/demo-component/app/calendar/calendar.controller.js"></script>
        <script src="app/demo-component/app/task/task.controller.js"></script>
        <script src="app/demo-component/app/task/task.directive.js"></script>
        <script src="app/demo-component/app/task/task.service.js"></script>
        <script src="app/demo-component/email/dialogs/compose/compose-dialog.controller.js"></script>
        <!-- endinject -->
        <!-- endbuild -->
    </body>

</html>
