<div class="box box-default">
    <div class="box-body no-padding">
        <md-list class="md-dense" flex="">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Krankenhäuser im Umkreis</md-subheader>
            <md-divider></md-divider>
            <div ng-repeat="hospital in hospitals">
                <md-list-item class="md-2-line" style="border-left: 4px solid #2196f3" ng-click="openDetails($event, hospital)">
                    <div class="md-list-item-text" layout="column">
                        <h3 style="line-height:1.5">{{hospital.name}}</h3>
                        <p style="font-weight:400">{{hospital.address}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
    </div>
</div>