<div class="box-body">
    <map id="hospitalListMap" class="ui-map map-fullsize" style="height:auto !important"
        scrollwheel="true" 
        default-style="false" 
        zoom-control="true" 
        street-view-control="false" 
        map-initialized="onMapInitialized(map)" 
        center="[50.72, 10.60]"
        zoom="7"
        bounds-changed="onBoundsChanged(map)"
        trigger-resize>
    </map>
</div>