<div class="page-auth">
    <div class="main-body">
        <div class="card bg-white" ng-controller="AuthenticationCtrl">
            <div class="card-content">
                <div class="logo">
                    <a href="#/">Login</a>
                </div>

                <form ng-submit="submitForm()" name="material_login_form" class="md-form-auth form-validation">
                    <fieldset>
                        <md-input-container class="md-block">
                            <label>Benutzer</label>
                            <md-icon class="material-icons">person_outline</md-icon>
                            <input required
                                   name="email"
                                   ng-model="user.email"
                            />
                            <div ng-messages="material_login_form.email.$error" multiple ng-if='material_login_form.email.$dirty'>
<!--                                 <div ng-message="required">Das Feld darf nicht leer sein.</div>
                                <div ng-message="pattern">Der Wert muss eine Emailadresse sein.</div> -->
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <md-icon class="material-icons">lock_outline</md-icon>
                            <input required
                                   type="password"
                                   name="password"
                                   ng-model="user.password">
                            <div ng-messages="material_login_form.password.$error" multiple ng-if='material_login_form.password.$dirty'>
<!--                                 <div ng-message="required">Das Feld darf nicht leer sein.</div> -->
                            </div>
                        </md-input-container>

                        <md-button type="submit"
                                   class="md-raised pull-right md-primary"
                                   data-ng-disabled="!canSubmit()">Login</md-button>
                    </fieldset>
                </form>

                <!--
                <div class="additional-info">
                    <a href="#/signup">Register</a>
                    <span class="divider-h"></span>
                    <a href="#/forgot-password">Forgot your password?</a>
                </div>
                -->

            </div>
        </div>
    </div>
</div>
