<div class="box box-default">
    <div class="box-body no-padding">
        <md-list class="md-dense" flex="">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Aktive Notfälle</md-subheader>
            <md-divider></md-divider>
            <div ng-if="count==0" style="height:38px; margin-top:15px;"><span style="padding-left:15px;">Es sind keine aktiven Notfälle vorhanden.</span></div>
            <div ng-repeat="emergency in emergencies | orderObjectBy:'createdAt': true">
                <md-list-item class="md-2-line" ng-href="#/app/emergency-map/{{emergency.id}}" ng-mouseenter="highlight(null, emergency, true)"
                    ng-mouseleave="highlight(null, emergency, false)" style="border-left: 4px solid {{highlightedEmergency == emergency.id ? '#2196f3' : 'white' }}">
                    <div class="md-list-item-text" layout="column">
                        <h3 style="line-height:1.2">{{emergency.informationString}}</h3>
                        <h4 style="line-height:1.5; padding-top:4px">
                            <div class="pull-left">
                                <span class="label label-danger"><span style="min-width:14px; display:inline-block">{{emergency.state}}</span></span>&nbsp;&nbsp;
                                <span
                                    class="ps-prop-label" data-translate="EMERGENCY_STATE{{emergency.state}}_SHORTTEXT"></span>
                            </div>
                            <div class="pull-right">
                                <span class="ng-scope ps-prop-label">{{emergency.createdAt | date:'dd.MM. HH:mm:ss'}}</span>
                            </div>
                        </h4>
                    </div>
                    <div class="pull-right text-nowrap" style="padding-left:10px">
                        <div class="pull-right">

                            <md-menu md-position-mode="right bottom">
                                <md-button class="md-icon-button md-primary" aria-label="more" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="material-icons">menu</md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-if="emergency.state < 10 && emergency.state > 0" ng-click="CancelEmergency(emergency)">Notfall abbrechen</md-button>
                                        <md-button ng-if="emergency.state == 0 || emergency.state >= 10" ng-click="FinishEmergency(emergency)">Notfall beenden</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
    </div>
</div>