<div class="box-body">
    <map id="emergencyListMap" map-initialized="onMapInitialized(map)" class="ui-map map-fullsize" style="height:auto !important"
        zoom="6" center="[50.72, 8.60]" scrollwheel="true" default-style="false" zoom-control="true" street-view-control="false"
        trigger-resize>
        <marker on-mouseover="highlight(emergency, true)" on-mouseout="highlight(emergency, false)" ng-repeat="emergency in emergencies" position="[{{emergency.locationPoint.latitude}}, {{emergency.locationPoint.longitude}}]" 
            icon="{
                url:'assets/images-app/markers.png',
                size: [37,56],
                origin: {{highlightedEmergency == emergency.id ? GetIconOrigin('emergency-highlighted') : GetIconOrigin('emergency')}}
            }"></marker>
    </map>
</div>