<section class="no-breadcrumbs ng-scope full-height ">
    <div id="splitscreen" ng-controller="EmergencyCtrl">
        <div ng-include="templateBase + 'emergency/_list-map/partials/map.html'" class="splitscreen-container-left flex2 map-fullsize-container"></div>
        <div ng-include="templateBase + 'emergency/_list-map/partials/list.html'" class="splitscreen-container-right flex1 map-fullsize-container"></div>
    </div>
</section>