<div class="page-err">
    <div class="err-container text-center" ng-controller="HeaderCtrl">
        <div class="err">
            <h1>403</h1>
            <h2>Für diese Seite haben Sie keine Berechtigung!</h2>
        </div>

        <div class="err-body">
            <md-button ng-click="gotoHome()" class="md-raised btn-lg">Zurück zur Startseite</md-button>
            <md-button ng-click="logoutUser()" class="md-raised btn-lg">Abmelden</md-button>
        </div>
    </div>
</div>
