<section ng-if="AuthService.hasPrivilege('menu')" ng-include src=" 'app/layout/sidebar.html' "></section>
<section id="page-container" class="app-page-container" ng-class="{'scroll-disabled': isOpenRight(), 'no-menu': !AuthService.hasPrivilege('menu')}">
    <div ng-include=" 'app/layout/header.html' "></div>
    <div class="app-content-wrapper">
        <div class="app-content">
            <div class="full-height {{app.pageTransition.class}}" ui-view></div>
        </div>
        <section ng-include=" 'app/layout/footer.html'"></section>
    </div>
</section>
<section ng-include src=" 'app/layout/overlay-search.html' "></section>