<md-dialog aria-label="{{hospital.get('name')}}">
  <form name="hospital-detail" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{hospital.get('name')}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="editHospital" ng-cloak>
          <div class="row" ng-repeat="ward in hospital.wards" style="margin-bottom:10px;">
              <div class="main-title" data-translate="{{ward.wardType}}"></div>
              <div class="col-md-4" ng-repeat="occupancy in ward.occupancies">
                  <div class="title" data-translate="BED_TYPE_{{occupancy.bedType}}"></div>
                  <div class="ward-wrapper">
                      <div class="traffic-light-wrapper small">
                          <div class="traffic-light">
                              <div class="wrapper">
                                  <div ng-attr-class="{{(occupancy.occupancy <= occupancy.red.max) && 'circle red' || 'circle' }}"></div>
                              </div>
                              <div class="wrapper">
                                  <div ng-attr-class="{{(occupancy.occupancy >= occupancy.yellow.min && occupancy.occupancy <= occupancy.yellow.max) && 'circle yellow' || 'circle' }}"></div>
                              </div>
                              <div class="wrapper">
                                  <div ng-attr-class="{{(occupancy.occupancy >= occupancy.green.min) && 'circle green' || 'circle' }}"></div>
                              </div>                                    
                          </div>
                      </div>
                      <div class="traffic-light-settings">
                          <div class="settings">
                              <div class="occupancy">{{occupancy.occupancy}}</div>
                          </div>                             
                      </div>
                  </div>
              </div>
          </div>
       </form>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Malus</label>
        <input name="comment" ng-model="newComment">
      </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="saveComment()" class="md-primary">
        Malus vergeben
      </md-button>
      <md-button ng-click="cancel()" >
        Schließen
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>