<section class="no-breadcrumbs ng-scope full-height" ng-controller="EmergencyListCtrl">
    <article class="article">
        <md-card class="no-margin">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Notfallhistorie</span>
                    <div flex></div>
                    <md-button class="md-icon-button md-primary" ng-click="loadData()" >
                        <md-icon>refresh</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

<style>
.media-list+.media-list
{
    border-top:1px solid #eee;
}
</style>

            <div ng-if="(emergencies | filter: {state: 20}).length > 0">
                <div class="box-header" style="background-color:#efefef">Abzuschließende Notfälle</div>
                <div class="box-body" style="padding-top:0px; padding-bottom:0px">
                    <div class="media-list" ng-repeat="emergency in (emergencies | filter: {state: 20})">
                        <div class="media">
                            <div class="media-body media-middle" style="padding-bottom:6px">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="ps-prop-label">Notfallnummer</div>
                                        {{emergency.emergencyNumber}}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ps-prop-label">Zeitpunkt</div>
                                        {{emergency.createdAt | date:'dd.MM. HH:mm:ss'}}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ps-prop-label">Beschreibung</div>
                                        {{emergency.informationString}}
                                    </div>
                                </div>
                            </div>
                            <div class="media-right media-middle">
                                <md-button class="md-primary" ng-href="#/app/emergency-list/{{emergency.id}}/protocols">Öffnen</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        <div ng-if="(emergencies | filter: {state: 20}).length == 0" class="box-center">
            <span style="color:#bbb; font-size:20px;">Es wurden alle abgeschlossenen Notfälle bearbeitet. Die involvierten Ersthelfer wurden alle kontaktiert.</span>
        </div>

    </article>


</section>
