<section class="no-breadcrumbs ng-scope full-height" ng-controller="HospitalListCtrl">
    <article class="article">
        <md-card class="no-margin">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Krankenhaus-Übersicht</span>
                    <div flex></div>
                </div>
            </md-toolbar>

<style>
.media-list+.media-list
{
    border-top:1px solid #eee;
}
</style>
            <div ng-if="(hospitals).length > 0">
                <div class="box-header" style="background-color:#efefef">
                    Alle registrierte Krankenhäuser
                    <md-button class="md-icon-button md-primary" ng-click="createHospitalPopup($event)">
                        <md-icon class="material-icons">add</md-icon>
                    </md-button>
                </div>
                <div class="box-body" style="padding-top:0px; padding-bottom:0px">
                    <div class="media-list" ng-repeat="hospital in hospitals">
                        <div class="media">
                            <div class="media-body media-middle" style="padding-bottom:6px">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="ps-prop-label">Bezeichnung</div>
                                        {{hospital.name}}
                                    </div>
                                    <div class="col-md-8">
                                        <div class="ps-prop-label">Adresse</div>
                                        {{hospital.address}}
                                    </div>
                                    <a href="#/app/hospital/{{hospital.id}}">
                                        <md-button class="edit" ng-click="editHospital(hospital)">
                                                <md-icon class="material-icons">edit</md-icon>
                                        </md-button>
                                    </a>
                                    <md-button class="delete" ng-click="deleteHospital($event, hospital)">
                                        <md-icon class="material-icons">delete</md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        <div ng-if="(hospitals).length == 0" class="box-center">
            <div style="color:#bbb; font-size:20px;">Keine Krankenhäuser vorhanden.</div>
            <md-button class="md-icon-button md-primary" ng-click="createHospitalPopup($event)">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </div>
    </article>
</section>