<md-dialog aria-label="Krankenhaus-Registrierung">
  <form name="registration" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Neues Krankenhaus registrieren</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Bezeichnung</label>
            <input name="name" required ng-model="newHospital.name">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Adresse</label>
            <input name="address" required ng-model="newHospital.address" ng-model-options="{debounce: 1000}" ng-change="findAddress()" />
          </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" >
        Abbrechen
      </md-button>
      <md-button type="submit" ng-disabled="registration.$invalid" ng-click="register()" md-autofocus class="md-primary">
        Registrieren!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>