<section class="no-breadcrumbs ng-scope full-height" ng-controller="ContingentsCtrl">
    <article class="article">
        <md-card class="no-margin">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Bettenkontingente</span>
                    <div flex></div>
                </div>
            </md-toolbar>
            <div class="box-header" style="background-color:#efefef">
                <div ng-if="userRole !== 'Administrators'">{{hospital.name}}</div>
                <md-select ng-if="userRole === 'Administrators'" ng-model="hospital.id" aria-label="select" class="md-no-underline" ng-change="changeHospital(hospital)">
                    <md-option ng-repeat="currentHospital in hospitals" value="{{currentHospital.id}}"> {{currentHospital.name}} </md-option>
                </md-select>
            </div>
            <div class="box-body" style="padding-top:20px;">
                <form name="editHospital" ng-cloak>
                    <div class="row" ng-repeat="ward in hospital.wards" style="margin-bottom:10px;">
                        <div class="main-title" data-translate="{{ward.wardType}}"></div>
                        <div class="col-md-4" ng-repeat="occupancy in ward.occupancies">
                            <div class="title" data-translate="BED_TYPE_{{occupancy.bedType}}"></div>
                            <div class="ward-wrapper">
                                <div class="traffic-light-wrapper small">
                                    <div class="traffic-light">
                                        <div class="wrapper">
                                            <div ng-attr-class="{{(occupancy.occupancy <= occupancy.red.max) && 'circle red' || 'circle' }}"></div>
                                        </div>
                                        <div class="wrapper">
                                            <div ng-attr-class="{{(occupancy.occupancy >= occupancy.yellow.min && occupancy.occupancy <= occupancy.yellow.max) && 'circle yellow' || 'circle' }}"></div>
                                        </div>
                                        <div class="wrapper">
                                            <div ng-attr-class="{{(occupancy.occupancy >= occupancy.green.min) && 'circle green' || 'circle' }}"></div>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="traffic-light-settings">
                                    <div class="settings">
                                        <md-button ng-click="occupancy.occupancy = occupancy.occupancy - 1; updateOccupancy(occupancy);">
                                            <i class="material-icons ">navigate_before</i>
                                        </md-button>
                                        <input ng-model="occupancy.occupancy">
                                        <md-button ng-click="occupancy.occupancy = occupancy.occupancy + 1; updateOccupancy(occupancy);">
                                            <i class="material-icons ">navigate_next</i>
                                        </md-button>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </article>
</section>